<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Product Storage demo project">
    <meta name="author" content="JavaGuru">
    <title>Product Storage</title>
</head>

<body>

    <h3>Add product to list</h3>

    <table>
        <tr>
            <td>Product name:</td>
            <td>Product brand:</td>
            <td>Product model:</td>
            <td>Product quantity:</td>
            <td>Price:</td>
        </tr>

        <tr>
            <form action="/addProductToList" th:object="${request}" method="post">
                <td><input type="text" th:field="${request.productName}"/></td>
                <td><input type="text" th:field="${request.productBrand}"/></td>
                <td><input type="text" th:field="${request.productModel}"/></td>
                <td><input type="text" th:field="${request.productQuantity}"/></td>
                <td><input type="text" th:field="${request.price}"/></td>
                <td>
                    <input type="submit" value="Add Product"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.errorCode}" />
            <td th:text="${error.message}" />
        </tr>
    </td>

</body>

</html>