<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Product Storage demo project">
    <meta name="author" content="JavaGuru">
    <title>Product Storage</title>
</head>

<body>

    <h3>Program menu</h3>

    <a href="/addProductToList">Add product to list</a> <br>
    <a href="/removeProductFromList">Remove product from list</a> <br>
    <a href="/showAllProducts">Display all products in the list</a> <br>
    <a href="/searchProducts">Search products</a> <br>
    <a href="/updateProduct">Update product</a> <br>
    <a href="/registerCustomer">Register customer</a> <br>
    <a href="/removeCustomer">Remove customer</a> <br>
    <a href="/showAllCustomers">Display all customers</a> <br>
    <a href="/searchCustomers">Search customers</a> <br>
    <a href="/updateCustomer">Update customer</a> <br>

</body>

</html>