<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Product Storage demo project">
    <meta name="author" content="JavaGuru">
    <title>Product Storage</title>
</head>

<body>

    <h3>Search criteria (products):</h3>

    <table>
        <tr>
            <td>Search by Product brand:</td>
            <td>Search by Product model:</td>
        </tr>

        <tr>
            <form action="/searchProducts" th:object="${request}" method="post">
                <td><input type="text" th:field="${request.productBrand}"/></td>
                <td><input type="text" th:field="${request.productModel}"/></td>
                <td>
                    <input type="submit" value="Search Products"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>

    <h3>Search results:</h3>

    <table>
        <tr>
            <td>ID:</td>
            <td>Product name:</td>
            <td>Product brand:</td>
            <td>Product model:</td>
            <td>Product quantity:</td>
            <td>Price:</td>
        </tr>

        <td th:if="${products != null}">
            <tr th:each="product : ${products}">
                <td th:text="${product.id}" />
                <td th:text="${product.productName}" />
                <td th:text="${product.productBrand}" />
                <td th:text="${product.productModel}" />
                <td th:text="${product.productQuantity}" />
                <td th:text="${product.price}" />
            </tr>
        </td>

    </table>

    <form action="/" method="get">
        <input type="submit" value="Go to main page" name="Submit" />
    </form>

</body>

</html>