<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cake Constructor demo project">
    <meta name="author" content="JavaGuru">
    <title>Cake Constructor</title>
</head>

<body>

<h3>Add ingredient to cake</h3>

<form action="/addIngredientToCake" th:object="${request}" method="post">
    <table>
        <tr>
            <td>Cake ID:</td>
            <td><input type="text" th:field="${request.cakeId}"/></td>
        </tr>
        <tr>
            <td>Ingredient ID:</td>
            <td><input type="text" th:field="${request.ingredientId}"/></td>
        </tr>
        <tr>
            <td>Quantity:</td>
            <td><input type="text" th:field="${request.quantity}"/></td>
        </tr>
        <tr>
            <td>
                <input type="submit" value="Add ingredient to cake"/>
                <input type="reset" value="Clear"/>
            </td>
        </tr>
    </table>
</form>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
<td th:text="${error.field}"/>
<td th:text="${error.message}"/>
</tr>
</td>



<h3>Search criteria (ingredients):</h3>

<form action="/addIngredientToCake/search" th:object="${searchRequest}" method="post">
    <table>
        <tr>
            <td>Search by Type:</td>
            <td><input type="text" th:field="${searchRequest.type}"/></td>
        </tr>
        <tr>
            <td>Search by Taste:</td>
            <td><input type="text" th:field="${searchRequest.taste}"/></td>
        </tr>
        </tr>
        <td>
            <input type="submit" value="Search Ingredients"/>
            <input type="reset" value="Clear"/>
        </td>
        </tr>
    </table>
</form>

<h3>Search results (ingredients):</h3>

<table>
    <tr>
        <td>ID:</td>
        <td>Type:</td>
        <td>Taste:</td>
    </tr>

    <td th:if="${ingredients != null}">
        <tr th:each="ingredient : ${ingredients}">
    <td th:text="${ingredient.id}"/>
    <td th:text="${ingredient.type}"/>
    <td th:text="${ingredient.taste}"/>
    </tr>
    </td>

</table>


<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit"/>
</form>


</body>

</html>