<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cake Constructor demo project">
    <meta name="author" content="JavaGuru">
    <title>Cake Constructor</title>
</head>

<body>

    <h3>Add ingredient to list</h3>

    <table>
        <tr>
            <td>Type:</td>
            <td>Taste:</td>
        </tr>

        <tr>
            <form action="/addIngredientToList" th:object="${request}" method="post">
                <td><input type="text" th:field="${request.type}"/></td>
                <td><input type="text" th:field="${request.taste}"/></td>
                <td>
                    <input type="submit" value="Add Ingredient"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </td>

</body>

</html>