<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Cake Constructor demo project">
    <meta name="author" content="JavaGuru">
    <title>Cake Constructor</title>
</head>

<body>

    <h3>Program menu</h3>

    <a href="/addIngredientToList">Add ingredient to list</a> <br>
    <a href="/deleteIngredientFromList">Delete ingredient from list</a> <br>
    <a href="/showAllIngredients">Show all ingredients in the list</a> <br>
    <a href="/searchIngredients">Search ingredients</a> <br>
    <a href="/updateIngredient">Update ingredient</a> <br>
    <a href="/registerClient">Register client</a> <br>
    <a href="/deleteClient">Delete client</a> <br>
    <a href="/showAllClients">Show all clients</a> <br>
    <a href="/searchClients">Search clients</a> <br>
    <a href="/updateClient">Update client</a> <br>

</body>

</html>