#java specific
*.class
*.jar

### Gradle ###
.gradle
/build/
!gradle/wrapper/gradle-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
.idea
/.idea/
*.iws
*.iml
*.ipr

/teacher/build/
/teacher/lesson_1_introduction/build/
/teacher/lesson_1_introduction/out/
/teacher/lesson_2_single_responsibility_principle/build/
/teacher/lesson_2_single_responsibility_principle/out/
/teacher/lesson_3_request_response_input_data_validation/build/
/teacher/lesson_3_request_response_input_data_validation/out/
/teacher/lesson_4_git_brancing_pull_request_code_review/build/
/teacher/lesson_4_git_brancing_pull_request_code_review/out/
/teacher/lesson_5_testing_with_junit_and_mockito/build/
/teacher/lesson_5_testing_with_junit_and_mockito/out/
/teacher/lesson_6_dependency_injection_inversion_of_control/build/
/teacher/lesson_6_dependency_injection_inversion_of_control/out/
/teacher/lesson_7_spring_basics/build/
/teacher/lesson_7_spring_basics/out/
/teacher/lesson_8_introduction_to_sql/build/
/teacher/lesson_8_introduction_to_sql/out/
/teacher/lesson_9_advanced_sql/build/
/teacher/lesson_9_advanced_sql/out/
/teacher/lesson_10_jdbc_api/out/
/teacher/lesson_10_jdbc_api/build/
/teacher/lesson_11_orm_introduction/build/
/teacher/lesson_11_orm_introduction/out/
/teacher/lesson_12_orm_relations/build/
/teacher/lesson_12_orm_relations/out/
/teacher/lesson_13_spring_web/build/
/teacher/lesson_13_spring_web/out/
/teacher/lesson_14_restfull_api/build/
/teacher/lesson_14_restfull_api/out/
/teacher/lesson_15_jpa_repositories/build/
/teacher/lesson_15_jpa_repositories/out/
/teacher/lesson_16_liquibase/build/
/teacher/lesson_16_liquibase/out/


/teacher/lesson_1_introduction/step_1_simple_console_application/build
/teacher/lesson_1_introduction/step_1_simple_console_application/out

/teacher/lesson_2_single_responsibility_principle/step_1_srp_level_method/build
/teacher/lesson_2_single_responsibility_principle/step_1_srp_level_method/out

/teacher/lesson_2_single_responsibility_principle/step_2_srp_level_class/build
/teacher/lesson_2_single_responsibility_principle/step_2_srp_level_class/out

/teacher/lesson_2_single_responsibility_principle/step_3_srp_level_package/build
/teacher/lesson_2_single_responsibility_principle/step_3_srp_level_package/out

/teacher/lesson_2_single_responsibility_principle/step_4_srp_level_application_layer/build
/teacher/lesson_2_single_responsibility_principle/step_4_srp_level_application_layer/out

/teacher/lesson_3_request_response_input_data_validation/step_1_request_response_model/build
/teacher/lesson_3_request_response_input_data_validation/step_1_request_response_model/out

/teacher/lesson_3_request_response_input_data_validation/step_2_input_data_validation/build
/teacher/lesson_3_request_response_input_data_validation/step_2_input_data_validation/out

/teacher/lesson_4_git_brancing_pull_request_code_review/step_1_search/build
/teacher/lesson_4_git_brancing_pull_request_code_review/step_1_search/out

/teacher/lesson_4_git_brancing_pull_request_code_review/step_2_ordering/build
/teacher/lesson_4_git_brancing_pull_request_code_review/step_2_ordering/out

/teacher/lesson_4_git_brancing_pull_request_code_review/step_3_paging/build
/teacher/lesson_4_git_brancing_pull_request_code_review/step_3_paging/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_1_mockito/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_1_mockito/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_2_refactoring/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_2_refactoring/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_3_application_context/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_3_application_context/out

/teacher/lesson_5_testing_with_junit_and_mockito/step_4_acceptance_tests/build
/teacher/lesson_5_testing_with_junit_and_mockito/step_4_acceptance_tests/out

/teacher/lesson_6_dependency_injection_inversion_of_control/step_1_dependency_injection/build
/teacher/lesson_6_dependency_injection_inversion_of_control/step_1_dependency_injection/out

/teacher/lesson_7_spring_basics/step_1_spring/build
/teacher/lesson_7_spring_basics/step_1_spring/out

/teacher/lesson_7_spring_basics/step_2_strategy/build
/teacher/lesson_7_spring_basics/step_2_strategy/out

/teacher/travel_insurance_calculator/build/
/teacher/travel_insurance_calculator/out/
/teacher/travel_insurance_calculator/step_1/build/
/teacher/travel_insurance_calculator/step_1/out/
/teacher/travel_insurance_calculator/step_2/build/
/teacher/travel_insurance_calculator/step_2/out/
/teacher/travel_insurance_calculator/step_3/build/
/teacher/travel_insurance_calculator/step_3/out/
/teacher/travel_insurance_calculator/step_4/build/
/teacher/travel_insurance_calculator/step_4/out/
/teacher/travel_insurance_calculator/step_5/build/
/teacher/travel_insurance_calculator/step_5/out/
/teacher/travel_insurance_calculator/step_6/build/
/teacher/travel_insurance_calculator/step_6/out/
/teacher/travel_insurance_calculator/step_7/build/
/teacher/travel_insurance_calculator/step_7/out/
/teacher/travel_insurance_calculator/step_8/build/
/teacher/travel_insurance_calculator/step_8/out/
/teacher/travel_insurance_calculator/step_9/build/
/teacher/travel_insurance_calculator/step_9/out/
/teacher/travel_insurance_calculator/step_10/build/
/teacher/travel_insurance_calculator/step_10/out/



/student_anastasiia_bokareva_travel_insurance_calculator/build/
/student_anastasiia_bokareva_travel_insurance_calculator/out/
/student_andrejs_cekalins_travel_insurance_calculator/build/
/student_andrejs_cekalins_travel_insurance_calculator/out/
/student_butrin_ilya_travel_insurance_calculator/build/
/student_butrin_ilya_travel_insurance_calculator/out/
/student_dainis_fjodorovs_travel_insurance_calculator/build/
/student_dainis_fjodorovs_travel_insurance_calculator/out/
/student_oksana_tarasova_travel_insurance_calculator/build/
/student_oksana_tarasova_travel_insurance_calculator/out/
/student_tatjana_grigorcaka_travel_insurance_calculator/build/
/student_tatjana_grigorcaka_travel_insurance_calculator/out/


/team_fitness_club/build
/team_fitness_club/out

/team_AvangardTeenOrder/build
/team_AvangardTeenOrder/out

/team_autoservice/build/
/team_autoservice/out/

/team_CakeConstructor/build/
/team_CakeConstructor/out/

/team_SimpleInventory/build/
/team_SimpleInventory/out/