<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Book App demo project">
    <meta name="author" content="JavaGuru">
    <title>Book App</title>
</head>

<body>

    <h3>Add book to list</h3>

    <table>
        <tr>
            <td>Title:</td>
            <td>Author:</td>
            <td>Issue year:</td>
        </tr>

        <tr>
            <form action="/addBookToList" th:object="${request}" method="post">
                <td><input type="text" th:field="${request.title}"/></td>
                <td><input type="text" th:field="${request.author}"/></td>
                <td><input type="text" th:field="${request.issueYear}"/></td>
                <td>
                    <input type="submit" value="Add Book"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.errorCode}" />
            <td th:text="${error.errorMessage}" />
        </tr>
    </td>

</body>

</html>