<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Avangard Teen order demo project">
    <meta name="author" content="Avangard Teen order">
    <title>Avangard Teen</title>

</head>

<body style = "background-color: powderblue;">

<h3>Program menu</h3>

<a href="/userRegistration">User registration</a> <br>
<a href="/searchClient">Search Client</a> <br>
<a href="/order">Order</a> <br>
<a href="/componentRegistration">Component Registration</a> <br>
<a href="/showOrder">Show Order</a> <br>
<a href="/deleteOrder">Delete Order</a> <br>

</body>

</html>