<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Avangard Teen order demo project">
    <meta name="author" content="Avangard Teen order">
    <title>Avangard Teen</title>

</head>

<body style="background-color: powderblue;">

<h3>Order registration</h3>


<h4> Ваш номер заказа:
</h4>

<h4>Вы можете просмотреть комплектацию заказа</h4>

<form action="/showOrder" method="get">
    <input type="submit" value="Go to show order page" name="Submit"/>
</form>

</body>

</html>