<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Avangard Teen order demo project">
    <meta name="author" content="Avangard Teen order">
    <title>Avangard Teen</title>
</head>

<body style="background-color: powderblue;">

<h3>Show order</h3>

<table>
    <tr>
        <form action="/showOrder" th:object="${request}" method="post">
            <td><input type="number" th:field="${request.id}"/></td>
        </form>
    </tr>
    <tr>
        <td>Wheelchair:</td>
        <br>
        <td>Components:</td>
        <br>
        <td>Price Avangard Teen Wheelchair:</td>
        <br>
        <td>Price components:</td>
        <br>
        <td>Price order:</td>
    </tr>

    <td th:if="${wheelchair != null}">
        <tr>
            <td th:text="${wheelchair.seatWidth}"/>
            <td th:text="${wheelchair.seatDepth}"/>
            <td th:text="${wheelchair.footrestLength}"/>
            <td th:text="${wheelchair.bachHeight}"/>
        </tr>
    </td>

</table>

<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit"/>
</form>

</body>

</html>