<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Avangard Teen order demo project">
    <meta name="author" content="Avangard Teen order">
    <title>Avangard Teen</title>
</head>

<body style="background-color: powderblue;">

<h3>Show order</h3>
<<!--tr>
    <td>Wheelchair:</td>
    <br>
    <td th:number="${wheelchair.seatWidth}"/>
    <td th:number="${wheelchair.seatDepth}"/>
    <td th:number="${wheelchair.footrestLength}"/>
    <td th:number="${wheelchair.bachHeight}"/>
    <br>
</tr>
<tr>
    <td>Components:</td>
    <br>
    <td th:number="${components.id}"/>
    <td th:text="${components.information}"/>
    <td th:number="${components.price}"/>
    <br>
</tr>
-->
<p>Price Avangard Teen Wheelchair:</p>
<br>
<p>Price components:</p>
<br>
<p>Price order:</p>



<form action="/" method="get">
    <input type="submit" value="Go to main page" name="Submit"/>
</form>

</body>

</html>