<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fitness club demo project">
    <meta name="author" content="Fitness club team">
    <title>Fitness Club</title>

    <style>
        body {
            font-family: 'Arial', sans-serif;
            margin: 20px;
            padding: 20px;
            background-color: #f4f4f4;
        }

        h3 {
            color: #333;
        }

        a {
            text-decoration: none;
            color: #007bff;
            display: block;
            margin-bottom: 10px;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
</head>

<body>

<h3>Add client to list</h3>

<table>
    <tr>
        <td>Enter client first name:</td>
        <td>Enter client last name:</td>
        <td>Enter client personal code:</td>
    </tr>

    <tr>
        <form action="/addClientToList" th:object="${request}" method="post">
            <td><input type="text" th:field="${request.firstName}"/></td>
            <td><input type="text" th:field="${request.lastName}"/></td>
            <td><input type="text" th:field="${request.personalCode}"/></td>
            <td>
                <input type="submit" value="Add Client"/>
                <input type="reset" value="Clear"/>
            </td>
        </form>

        <form action="/" method="get">
            <input type="submit" value="Go to main page" name="Submit"/>
        </form>

    </tr>
</table>

<td th:if="${errors != null}">
    <tr th:each="error : ${errors}">
<td th:text="${error.field}"/>
<td th:text="${error.message}"/>
</tr>
</td>

</body>

</html>