<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta name="description" content="Fitness club demo project">
    <meta name="author" content="Fitness club team">
    <title>Fitness Club</title>
</head>

<body>

<h3>Program menu</h3>

<a href="/addClientToList">Add client to list</a> <br>
<a href="/removeClientFromList">Remove client from list</a> <br>
<a href="/showAllClient">Show all clients in the list</a> <br>
<a href="/registerClient"> Add client, age group, workout and fitness center in the member card</a> <br>
<a href="/changeAgeGroup">Change client age group in the member card</a> <br>
<a href="/changeWorkout">Change client workout in the member card</a> <br>
<a href="/changeFitnessCenters">Change client fitness center in the member card</a> <br>
<a href="/searchClients">Search clients</a> <br>


</body>

</html>