<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Book Library demo project">
    <meta name="author" content="JavaGuru">
    <title>Book Library</title>
</head>

<body>

    <h3>Register Reader</h3>

    <table>
        <tr>
            <td>First Name:</td>
            <td>Last Name:</td>
        </tr>

        <tr>
            <form action="/registerReader" th:object="${request}" method="post">
                <td><input type="text" th:field="${request.firstName}"/></td>
                <td><input type="text" th:field="${request.lastName}"/></td>
                <td>
                    <input type="submit" value="Register Reader"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>

    <td th:if="${errors != null}">
        <tr th:each="error : ${errors}">
            <td th:text="${error.field}" />
            <td th:text="${error.message}" />
        </tr>
    </td>

</body>

</html>