<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Book Library demo project">
    <meta name="author" content="JavaGuru">
    <title>Book Library</title>
</head>

<body>

    <h3>Search criteria (books):</h3>

    <table>
        <tr>
            <td>Search by Title:</td>
            <td>Search by Author:</td>
        </tr>

        <tr>
            <form action="/searchBooks" th:object="${request}" method="post">
                <td><input type="text" th:field="${request.title}"/></td>
                <td><input type="text" th:field="${request.author}"/></td>
                <td>
                    <input type="submit" value="Search Books"/>
                    <input type="reset" value="Clear"/>
                </td>
            </form>
        </tr>
    </table>

    <h3>Search results:</h3>

    <table>
        <tr>
            <td>ID:</td>
            <td>Title:</td>
            <td>Author:</td>
        </tr>

        <td th:if="${books != null}">
            <tr th:each="book : ${books}">
                <td th:text="${book.id}" />
                <td th:text="${book.title}" />
                <td th:text="${book.author}" />
            </tr>
        </td>

    </table>

    <form action="/" method="get">
        <input type="submit" value="Go to main page" name="Submit" />
    </form>

</body>

</html>