<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="utf-8">
    <meta name="description" content="Book Library demo project">
    <meta name="author" content="JavaGuru">
    <title>Book Library</title>
</head>

<body>

    <h3>Show all readers in the list</h3>

    <table>
        <tr>
            <td>ID:</td>
            <td>Title:</td>
            <td>Author:</td>
        </tr>

        <td th:if="${readers != null}">
            <tr th:each="reader : ${readers}">
                <td th:text="${reader.id}" />
                <td th:text="${reader.firstName}" />
                <td th:text="${reader.lastName}" />
            </tr>
        </td>

    </table>

    <form action="/" method="get">
        <input type="submit" value="Go to main page" name="Submit" />
    </form>

</body>

</html>